{{!-- sidebarItem.hbs --}}
{{#if (eq type "directory")}}
    <li class="folder">
        <span>{{name}}</span>
        <ul>
            {{#each children}}
                {{> sidebarItem this}}
            {{/each}}
        </ul>
    </li>
{{else if (eq type "file")}}
    {{!--
      Use the item-provided name (pages.groovy sets name to the frontmatter title when present)
      and avoid double slashes by not adding an extra "/" after baseUrl.
    --}}
    <li class="file"><a href="{{urlJoin @root.baseUrl (htmlPath path)}}">{{name}}</a></li>
{{/if}}
