{{!-- sidebarItem.hbs --}}
{{#if (eq type "directory")}}
    <li class="folder">
        <span>{{name}}</span>
        <ul>
            {{#each children}}
                {{> sidebarItem this}}
            {{/each}}
        </ul>
    </li>
{{else if (eq type "file")}}
    {{!--
      Use a relative link so it works at any base path (local `/` and GitHub Pages `/repo/`).
      `pages.groovy` sets `name` to the frontmatter title when present.
    --}}
    <li class="file"><a href="{{htmlPath path}}">{{name}}</a></li>
{{/if}}
