{{!-- sidebar.hbs --}}
<nav class="sidebar">
    <p><strong>Arden</strong> Language Topics</p>
    <ul class='nav-list prose'>
        {{#each (pages)}}
            {{> sidebarItem this}}
        {{/each}}
    </ul>
</nav>
